.container {
	display: grid;
	grid-template-columns: repeat(1fr 2fr 1fr);
	grid-template-rows: auto;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0;
}

.hoverWrapper,
.clickWrapper,
.lightWrapper,
.keyboardWrapper {
	margin-bottom: 10px;
}

.five {
	width: 50px;
	height: 50px;
	background-color: black;
}
.one {
	width: 50px;
	height: 50px;
	background-color: blue;
}
.four {
	width: 50px;
	height: 50px;
	background-color: grey;
}
.three {
	width: 50px;
	height: 50px;
	background-color: green;
}
.two {
	width: 50px;
	height: 50px;
	background-color: orange;
}
.six {
	width: 50px;
	height: 50px;
	background-color: red;
}
