header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(90deg, rgb(13, 44, 218), yellow);
}

.logo {
	width: 70px;
	height: 70px;
	margin: 5px 10px;
}

.menu {
	display: flex;
	justify-content: end;
	align-items: center;
}

.menu a {
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
}

.menu a:nth-child(4) {
	margin-right: 40px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;

	background-color: rgba(128, 128, 128, 0.3);
}

main {
	margin-top: 100px;
}

figure {
	margin: 0;
}

figure img {
	width: 100%;
}
