* {
	margin: 0;
	padding: 0;
}
.wrapper {
	height: 800px;
	width: 1000px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: rgb(168, 189, 207);
}

.road {
	position: relative;
	height: 20px;
	width: 0;
	margin-left: 0;
	background-color: #fff;
	background: linear-gradient(
		270deg,
		#f201ff 0%,
		#104cff 30.52%,
		#6de3fc 69.06%,
		rgba(63, 175, 255, 0) 100%
	);
	animation: anim1 8s linear forwards;
}

.car {
	position: absolute;
	top: -8px;
	left: calc(100% - 20px);
}
@keyframes anim1 {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}


